* {
  box-sizing: border-box;
}

html, body {
	margin:0;
	padding:0;
	height: 100%;
	font-family: 'Roboto';
	background: #ededed;
}

a {
	text-decoration: none;
}

h1 {
	margin:0;
	font-weight: 100;
}

h2 {
	margin:0;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="submit"] {
	border-radius: 0;
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

main {
	padding: 5%;
}
/* LOGIN */

.bg-image {
	height: 100%;
	width: 100%;
	background: url(/img/suit.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.image-overlay {
	background: rgba(0,184,156,0.96);
	height: 100%;
}

.form-container {
	margin: auto;
	text-align: center;
	color: white;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65%;
}

.damco-heading h1 {
	font-size: 4em;
	font-weight: 700;
}

.damco-heading h2 {
	font-weight: 100;
	font-size: 2em;
	margin-top: -12px;
	letter-spacing: 0.7px;
}

.form {
	margin-top: 35px;
}

.form label {
	display: block;
	width: 300px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
	width: 240px;
}

.form input[type="text"],
.form input[type="password"] {
	width: 200px;
    height: 40px;
    border: 0;
    background: rgba(0,0,0,0.5);
	display: block;
	float: left;
	padding-left: 25px;
	color: white;
}

.form .icon-holder {
	background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    margin: auto;
    padding: 10px;
    border-right: 2px solid #0ABA9F;
}

.login-button {
	background: white;
	width: 240px;
	margin-top: 10px;
	border: 0;
    padding: 10px;
    height: 40px;
}

.register-link {
	color: white;
	margin-top: 20px;
	display: block;
	font-weight: 100;
}

/* APP FRAME */

.app-header {
	background: #00b89c;
	height: 60px;
	border-bottom: 4px solid #00594b;
	text-align: center;
	color: white;
	padding: 15px;
}

.app-header a {
	position: absolute;
    top: 5px;
    padding: 10px;
}

.app-header a:first-child {
	left: 10px;
}

.app-header a:nth-of-type(2) {
	right: 10px;
}

.app-header-title {
	font-size: 1.5em;
	font-weight: 400;
}

/* AGENDA VIEW */

.agenda-view {
    overflow: hidden;
    margin-bottom: 20px;
}

.agenda-view-list {
    overflow: hidden;
    padding:0;
}

.agenda-view-item {
	width: 50%;
	float: left;
	text-align: center;
	list-style-type: none;
    padding: 4px;
}

.agenda-view-list a {
	color: black;
}

.agenda-view-list a:first-child li{
	border-left: 1px solid #CECECE;
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
}

.agenda-view-list a:nth-of-type(2) li {
	border-right: 1px solid #CECECE;
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
}

.agenda-view-item-active {
	background: #00B89C;
	color: white;
}

/* AGENDA LIST */

.agenda-list {
	list-style-type: none;
	margin:0;
	padding:0;
}

.agenda-item {
	position: relative;
	border-bottom: 1px solid #cecece;
}

.agenda-item-header {
    text-align: center;
}

.agenda-item-title {
	font-weight: 100;
	font-size: 1.2em;
}

.precense {
	font-size: 0.9em;
	font-weight: 400;
}

.weekday-circle {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 2px solid #00b89c;
	position: absolute;
	left: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.weekday-circle-text {
	font-weight: 400;
	color: #00594b;
	font-size: 0.9em;
}

.ratio {
	position: absolute;
	right:0;
	top: 20px;
	font-weight: 700;
	display: block;
	font-size: 1.2em;
}

.positive,
.present {
	color: #00b89c;
}

.negative,
.absent {
	color: #ea5c5c;
}

.agenda-main {
    padding-top: 13px;
    padding-bottom: 13px;
	cursor: pointer;
}

.agenda-drawer {
	width: 110%;
    margin-left: -5%;
    padding:5%;
/*    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: height 0.6s, opacity 0.6s;*/
	display: none;
}

.day-info {
	overflow: hidden;
    text-align: center;
    margin:20px 0;
}

.day-info-item {
	width: 40%;
	display: inline-block;
}

.day-info-item-title {
	font-size: 0.9em;
}

.day-info-item-number {
	display: block;
	text-align: center;
	font-weight: 700;
	color: #00594b;
}

.button {
	background: #00b89c;
	color: white;
	padding:12px;
	display: block;
	margin: 20px auto;
	border:none;
	clear: both;
	width: 50%;
	cursor: pointer;
	border-radius: 0;
	font-size: 0.9em;
	-webkit-appearance: none;
}

.guests {
	text-align: center;
}

.guests input,
.guests span {
	display: inline-block;
}

.guests input {
	width: 35px;
    height: 35px;
    padding: 1px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #00b89c;
}

.next-week-border {
	height: 1px;
    background: #00594B;
    width: 110%;
    margin-left: -5%;
}

/* PROFILE/ADMIN FORM */

.form-title {
	font-weight: 400;
	text-align: center;
	font-size: 1.3em;
}

.admin-form,
.profile-form {
	margin-top: 40px;
}

.admin-form label,
.profile-form label {
	display: block;
	padding: 12px 0;
	border-bottom: 1px solid #cecece;
	overflow: hidden;
}

.input-label {
	width: 35%;
    display: block;
    float: left;
    color: #00594b;
    font-weight: 700;
    padding: 10px;
}

.input-label-admin {
	width: 51%;
    display: block;
    float: left;
    color: #00594b;
    font-weight: 700;
    padding: 10px;
}

#registrationKey,
#flexEmployees,
#fixedEmployees,
#adminPassword,
#flexDesks {
	width: 49%;
}

.form-input {
	width: 65%;
	display: block;
	float: left;
	background: transparent;
	border: 0;
	font-size: 1em;
	padding: 10px;
	font-weight: 100;
}

.form-input:focus {
	outline: none;
}

input[disabled] {
	color: #7F7F7F;
	-webkit-text-fill-color:#7F7F7F;
}

.admin-button,
.profile-button {
	margin-top: 40px;
}

.logout {
	text-align: center;
    color: black;
    display: block;
    margin-top: 40px;
}

/* AGENDA OVERVIEW */

.agenda-overview-header {
	overflow: hidden;
    text-align: center;
}

.agenda-overview-title {
	font-weight: 400;
	text-align: center;
	font-size: 1.2em;
	display: inline-block;
}

.arrow-left {
    width: 40px;
    display: inline-block;
    margin-right: 15%;
    margin-bottom: -2px;
    cursor: pointer;
}

.arrow-right {
    width: 40px;
    display: inline-block;
	margin-left: 15%;
    margin-bottom: -2px;
    cursor: pointer;
}

.agenda-blocks-container {
	margin-top: 33px;
}

.agenda-block-list {
	padding: 0;
	overflow: hidden;
	width: 294px;
	margin: 0 auto;
}

.agenda-block {
	list-style-type: none;
	display: block;
	float: left;
	width:40px;
	height: 40px;
	margin: 1px;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.block-present {
	background: #00b89c;
}

.block-absent{
	background: #ea5c5c;
}

.block-weekend {
	background: grey;
}

/* SETTINGS */

.settings-title {
	font-weight: 400;
	text-align: center;
	font-size: 1.3em;
}

.default-form {
	text-align: center;
}

.weekday-fieldset {
	border: none;
}

.month-fieldset {
	width: 300px;
    margin: 0 auto;
    border: 0;
}

.weekday-label {
	margin: 0 8px;
    display: inline-block;
}

.weekday-label input[type="checkbox"] {
	display: block;
	margin: 0 auto;
	width: 20px;
    height: 20px;
	margin-bottom: 5px;
}

.fieldset-column {
	width:50%;
	float: left;
	padding-left: 3%;
}

.month-label {
	display: block;
	text-align: left;
	margin-top: 5px;
}

.month-label input[type="checkbox"] {
	width:20px;
	height: 20px;
    margin-bottom: 5px;
}

.transparent-button {
	background: transparent;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 0.9em;
}

/* EMPLOYEES */

.employee-list {
	padding:0;
}

.employee-item {
	width: 100%;
	border-bottom: 1px solid #cecece;
	list-style-type: none;
	clear: both;
	cursor: pointer;
}

.employee-main {
	padding: 13px 0;
	position: relative;
	overflow: hidden;
	display: block;
	color: black;
}

.employee-name {
    font-size: 1.2em;
    font-weight: 400;
    float: left;
    margin-left: 40px;
}

.employee-drawer {
	width: 110%;
    margin-left: -5%;
    padding:5%;
	display: none;
}

/* --Cross */
.cross {
	width: 32px;
	height: 32px;
	opacity: 0.3;
	background: transparent;
	float: left;
	border: 0;
}

.cross:before, .cross:after {
	position: absolute;
	top: 12px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
}

.cross:before {
	transform: rotate(45deg);
}

.cross:after {
	transform: rotate(-45deg);
}

/* --Desk toggle */
.desk-toggle {
    width: 170px;
    margin: 0 auto;
	overflow: hidden;
}

.desk-toggle-flex {
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	border-right: 0;
}

.desk-toggle-fixed {
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	border-left: 0;
}

.desk-toggle-flex,
.desk-toggle-fixed {
	background: transparent;
	float: left;
	width:50%;
	padding: 10px 20px;
	font-size: 0.9em;
}

/* MESSAGE */

.message {
	position: fixed;
    background: #ededed;
    padding: 30px;
    width: 90%;
    margin: auto;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 184px;
    box-shadow: 0 0 0 999px rgba(0,0,0,0.5);
    border-top: 15px solid #00B89C;
}

.confirmation {
	text-align: center;
}

.confirmation button {
	display: inline-block;
	width: 70px;
    margin: 10px 20px;
}

/* LOADER */

.loader-container {
	position: fixed;
    background: rgba(0,0,0, 0.5);
    padding: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 80px;
}

.gear {
  position: absolute;
  z-index: -10;
  width: 40px;
  height: 40px;
  z-index: 1;
  -webkit-animation: spin 5s infinite;
          animation: spin 5s infinite;
}

.two {
  left: 40px;
  width: 80px;
  height: 80px;
  -webkit-animation: spin-reverse 5s infinite;
          animation: spin-reverse 5s infinite;
}

.three {
  top: 45px;
  left: -10px;
  width: 60px;
  height: 60px;
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/* SOURCE: https://codepen.io/jonitrythall/pen/ojKgdx */


/* Javascript classes */

.hide {
	display: none;
}

.show {
	display: block;
}

.drawer-active {
	width: 110%;
    margin-left: -5%;
    background: white;
	padding: 13px 5%;
    /*visibility: visible;
    height: 300px;
    opacity: 1;*/
    display: block;
}

.toggle-active {
	background: #00b89c;
	color: white;
}